/* Credits to: <https://gist.github.com/RickCogley/f618d1dce4ac42a448b07660d318dea7> */

/* Common typography settings */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

/* Additional specific settings */
body,
p {
  font-variant-numeric: oldstyle-nums, proportional-nums;
  -moz-font-feature-settings: "onum", "pnum";
  -ms-font-feature-settings: "onum", "pnum";
  -webkit-font-feature-settings: "onum", "pnum";
  font-feature-settings: "onum", "pnum";
}

::selection {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: discretionary-ligatures;
  -moz-font-feature-settings: "dlig";
  -ms-font-feature-settings: "dlig";
  -webkit-font-feature-settings: "dlig";
  font-feature-settings: "dlig";
}

input,
textarea,
select,
option,
optgroup,
button {
  font: inherit;
  line-height: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  color: inherit;
  background: inherit;
  text-align: inherit;
  text-transform: inherit;

  border-style: solid;
  border-width: 0;
}

button {
  cursor: pointer;
}

body {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

a {
  color: hsl(var(--primary));
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Hyphenation settings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  hyphens: none;
}

/* Specific element settings */
td {
  font-variant-numeric: lining-nums, tabular-nums;
  -moz-font-feature-settings: "lnum", "tnum";
  -ms-font-feature-settings: "lnum", "tnum";
  -webkit-font-feature-settings: "lnum", "tnum";
  font-feature-settings: "lnum", "tnum";
}

.fraction {
  font-variant-numeric: diagonal-fractions;
  -moz-font-feature-settings: "frac";
  -ms-font-feature-settings: "frac";
  -webkit-font-feature-settings: "frac";
  font-feature-settings: "frac";
}

.fn {
  font-variant-position: sub;
  -moz-font-feature-settings: "subs";
  -ms-font-feature-settings: "subs";
  -webkit-font-feature-settings: "subs";
  font-feature-settings: "subs";
}
